@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body {
	/* background-color: #eff0f2; */
	color: #2d433c;
}

h1 img {
	max-width: 220px;
}

h2 {
	color: #bfc0bd;
	font-family: 'Josefin Sans', sans-serif;
}

h3 {
	color: #7d977d;
	font-family: 'Josefin Sans', sans-serif;
}

#logo-tasty {
	color: #26a69a
}

#logo {
	color: #949494;
	font-family: 'Josefin Sans', sans-serif;
}

#logo a, #logo visited {
	text-decoration: none;
	color: #949494;
}

#nav {
	margin-top: 50px;
	display: flex;
	align-items: center;
}

.results {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 90%;
}

.search-area {
	margin-top: 200px;
	text-align: center;
}

#search-query {
	border: 1px solid lightgray;
	padding-left: 10px;
	margin-bottom: auto;
}

#submit-query {

}

.result {
	/* border: 1px solid lightgray; */
}

.keywords {
	float: left;
}
