<head>
	<title>Tasty Search</title>
	<link href='{{url_for('static', filename='main.css')}}' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="search-area">
			<h1 id="logo"><span id="logo-tasty">Tasty</span> Search</h1>
			<h6>An academic search engine designed for you</h6>
			<br/>
			<input id="search-query" class="form-control" type="text" placeholder="What are you looking for?" aria-label="Search">
			<input id = "submit-query" class="form-control btn" type="submit" value="Search" aria-label="Search" style="margin-top: 25px">
		</div>
	</div>
</body>
<footer>
	<script src='{{url_for('static', filename='jquery-3.0.0.min.js')}}'></script>
	<script src='{{url_for('static', filename='bootstrap.min.js')}}'></script>

	<script>
	var button = document.getElementById("submit-query");
	button.onclick = function(){
		var query_string = document.getElementById("search-query").value
		console.log("{{ url_for('results') }}?query=\'" + query_string+"\'");
		window.location.href = "{{ url_for('results') }}?query=\'" + query_string+"\'";
	};

	var input = document.getElementById("search-query");
	input.addEventListener("keyup", function(event) {
		if (event.keyCode === 13) {
			event.preventDefault();
			button.click();
		}
	});

	</script>

</footer>
